.navbar {
  height: 100%;
}

.navbarLink {
  transition: all 0.15s ease;
}

.navbarLink:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  text-decoration: none;
}

.navbarLink:hover :global(.mantine-ThemeIcon-root) {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-blue-9));
} 