.navbar {
  height: 100%;
}

:global(.navbar-link) {
  transition: all 0.15s ease;
}

:global(.navbar-link:hover) {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  text-decoration: none;
}

:global(.navbar-link:hover .mantine-ThemeIcon-root) {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-blue-9));
} 